<!-- Footer -->
<section id="footer">
    <ul class="icons">
        <li><a href="http://www.twitter.com/mercy4athens" class="icon alt fa-twitter"><span class="label">Twitter</span></a></li>
        <li><a href="https://www.facebook.com/mercyhealthcenter/" class="icon alt fa-facebook"><span class="label">Facebook</span></a></li>
        <li><a href="mailto:info@mercyhealthcenter.net" class="icon alt fa-envelope-o"><span class="label">Email</span></a></li>
    </ul>
    <p class="copyright">700 Oglethorpe Avenue Suite C7 &bull; Athens, GA 30606 &bull; 706-425-0820 (Fax) &bull; 706-425-9445 (Phone)
    </p>
    <p class="copyright">
        &copy; 2019 Mercy Health Center. All rights reserved.
    </p>
</section>
<!-- Scripts -->
<script src="assets/js/jquery.min.js"></script>
<script src="assets/js/jquery.dropotron.min.js"></script>
<script src="assets/js/jquery.scrollex.min.js"></script>
<script src="assets/js/jquery.scrolly.min.js"></script>
<script src="assets/js/browser.min.js"></script>
<script src="assets/js/breakpoints.min.js"></script>
<script src="assets/js/util.js"></script>
<script src="assets/js/main.js"></script>
<script src="assets/js/jquery.min.js"></script>

