<!-- Logo -->
<a href="/index.html" class="logo"><strong>Mercy</strong> Health Center</a>
<nav id="nav">
    <ul>
        <li><a href="/index.html">Home</a></li>
        <li><a href="/about/faq.html">F.A.Q.</a></li>
        <li>
            <a href="#" class="icon fa-angle-down">About Us</a>
            <ul>
                <li><a href="/about/history.html">History</a></li>
                <li><a href="/about/mission.html">Mission</a></li>
                <li><a href="/about/cvalues.html">Core Values</a></li>
                <li><a href="/about/stories.html">Stories</a></li>
                <li><a href="/about/leadership.html">Leadership</a></li>
                <li><a href="/about/careers.html">Careers</a></li>
                <li><a href="/about/contact.html">Contact Us</a></li>
            </ul>
        </li>
        <li>
            <a href="#" class="icon fa-angle-down">Services</a>
            <ul>
                <li><a href="#">Medical</a></li>
                <li><a href="#">Dental</a></li>
                <li><a href="#">Pharmacy</a></li>
                <li><a href="#">Behavorial Health</a></li>
                <li><a href="#">Wellness</a></li>
                <li><a href="#">Other Resources</a></li>
                <li><a href="#">Share Your Stories</a></li>
            </ul>
        </li>
        <li>
            <a href="#" class="icon fa-angle-down">Volunteer</a>
            <ul>
                <li><a href="#">Info &amp; Requirements</a></li>
                <li><a href="#">Healthcare Opportunities</a></li>
                <li><a href="#">Internships</a></li>
                <li><a href="#">Meals for Mercy</a></li>
            </ul>
        </li>
        <li>
            <a href="#">Events</a>
        </li>
        <li>
            <a href="#">Community Partners</a>
        </li>
        <li>
            <a href="#">Donate</a>
        </li>
    </ul>
</nav>
