<!-- Logo -->
<a href="/index.html" class="logo"><strong>Mercy</strong> Health Center</a>
<nav id="nav">
    <ul>
        <li><a href="/index.html">Home</a></li>
        <li><a href="/mercyminutes.html">Mercy Minute</a></li>
        <li>
            <a href="#" class="icon fa-angle-down">About Us</a>
            <ul>
                <li><a href="/about/cvalues.html">Core Values</a></li>
                <li><a href="/about/mission.html">Mission</a></li>
                <li><a href="/about/history.html">History</a></li>
                <li><a href="/about/faq.html">F.A.Q.</a></li>
                <li><a href="/about/board-leadership.html">Board of Directors</a></li>
                <li><a href="/about/staff-leadership.html">Staff</a></li>
                <li><a href="/about/stories.html">Stories</a></li>
                <li><a href="/about/careers.html">Careers</a></li>
                <li><a href="/about/contact.html">Contact Us</a></li>
            </ul>
        </li>
        <li>
            <a href="#" class="icon fa-angle-down">Services</a>
            <ul>
                <li><a href="/services/medical.html">Medical</a></li>
                <li><a href="/services/dental.html">Dental</a></li>
                <li><a href="/services/pharmacy.html">Pharmacy</a></li>
                <li><a href="/services/behavorial.html">Behavorial Health</a></li>
                <li><a href="/services/wellness.html">Wellness</a></li>
                <li><a href="/services/other.html">Other Resources</a></li>
            </ul>
        </li>
        <li>
            <a href="#" class="icon fa-angle-down">Volunteer</a>
            <ul>
                <li><a href="/volunteer/requirements.html">Patient Support Volunteers</a></li>
                <li><a href="/volunteer/healthcare.html">Clinical Volunteers</a></li>
                <li><a href="/volunteer/internships.html">Internships</a></li>
                <li><a href="/volunteer/mealsformercy.html">Other Ways to Get Involved</a></li>
            </ul>
        </li>
        <li>
            <a href="/events.html">Events</a>
        </li>
        <li>
            <a href="#">Community Partners</a>
            <ul>
                <li><a href="/partners/corporate.html">Corporate Sponsors</a></li>
                <li><a href="/partners/foundations.html">Grantors and Foundations</a></li>
                <li><a href="/partners/cpartners.html">Clinical Partnerships</a></li>
            </ul>
        </li>
        <li>
            <a href="/donate.html">Donate</a>
        </li>
    </ul>
</nav>